* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}


@font-face {
    font-family: 'ah1';
    src: url(../fontes/IMPACT.TTF) format('opentype');
    
}

@font-face {
    font-family: 'ah2';
    src: url(../fontes/GEOMETR415\ BLK\ BT\ BLACK.TTF) format('opentype');
    
}

@font-face {
    font-family: 'ah3';
    src: url(../fontes/BAHNSCHRIFT\ \(1\).TTF) format('opentype');
    
}

p {
    font-family: 'ah2';
}

h2 {
    font-family: 'ah2';
}

li {
    font-family: 'ah3';
}


h1 {
    font-family: 'ah1';
    font-weight: 400;
}

h3 {
    font-family: 'ah2';
}

.texto-quem-somos h1 {
    font-family: 'ah2';
}

.texto-quem-somos p {
    font-family: 'ah3';
}

.textoo h3{
    font-family: 'ah3';
}

.texto-de-dentro p{
    font-family: 'ah3';
}

a {
    font-family: 'ah3';
}

button {
    font-family: 'ah2';
}

html {
    scroll-behavior: smooth;
  }

  body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: white;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #c1ab96;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid  beige;  /* creates padding around scroll thumb */
  }


.logo img {
    width: 150px;
}


header {
    padding-top: 30px;
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav ul  {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

nav ul li a {
    color: black;
    transition: 0.4s;
}

nav ul li a:hover {
    color: rgba(0, 0, 0, 0.548);
}




.redes-sociais {
    display: flex;
    gap: 20px;
    align-items: center;
}

.redes-sociais img {
    width: 20px;
}

/* section */ 
section {
    width: 100%;
    height: 100%;
    padding-top: 100px;
}

.container-section-1 {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}


.texto-quem-somos {
    line-height: 25px;
    width: 330px;
}

.texto-quem-somos h1 {
    margin-bottom: 20px;
    color:#666666 ;
    font-size: 40px;
}

.texto-quem-somos p {

    color: #494949;
    font-size: 17px;
}

.borda {
    margin-bottom: 20px;
    border-bottom: 2px solid gray;
    width: 10%;
}


/* section 2 */ 


.img-banner {
    width: 100%;
    height: 100%;
    
}

.img-banner img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.textoo {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    margin-left: 20%;
    font-size: 30px;
    gap: 16px;
    color: white;
    position: absolute;
}

.bordes {
    border-bottom: 2px solid white;

}

/* section 3 */ 

.container-section-3 {
    display: flex;
    justify-content: flex-end;
    gap: 80px;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.texto-do-lado-servicos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.texto-do-lado-servicos h1 {
    color: gray;
    font-size: 70px;

}

.texto-do-lado-servicos ul li {
    font-size: 25px;
    line-height: 35px;
    color: #494949;
}

.bordaa {
    margin-bottom: 20px;
    border-bottom: 2px solid gray;
    width: 20%;
}

imgdolado {
    width: 100%;
    height: 100%;
}

.imgdolado img {
    width: 800px;
}


/* section 4 */



.container-section-4 {
    width: 100%;
    height: 100%;

}

.texto-trabalhos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    
}

.texto-trabalhos h1 {
    color: rgb(88, 88, 88);
    font-size: 40px;
}

.bordaaa {
    margin-bottom: 20px;
    border-bottom: 2px solid gray;
    width: 3%;
}


/* SECTION  5 */

.container-section-5 {
    display: flex;
    width: 100%;
    height: 100%;

}

.img-contato img{
    width: 600px;

}

.contato-texto {
    display: flex;
    background-color: rgb(146, 146, 146);
    width: 100%;
   justify-content: flex-end;
   flex-direction: column;
   align-items: center;
   text-align: center;
}


.texto-de-dentro {
    color: white;
    margin-bottom: 100px;
}

.texto-de-dentro h1 {

    margin-bottom: 25px;
    font-size: 50px;
}

.texto-de-dentro p {
    font-size: 20px;
  
}

.redes-sociaiss {
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
}

button {
    font-weight: bold;
    margin-top: 20px;
    background: none;
    border-radius: 50px;
    border: 2px solid white;
    color: white;
    padding: 10px 50px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    padding: 10px 60px;
}

.redes-sociaiss img {
    width: 20px;
}

.direitos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
    
}

.direitos h2 {
font-size: 15px;
}


.img-footer{
    width: 100%;
    height: 100%;
}
.img-footer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}





